@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using GoStay.Web.Master;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = (Model.AllVideo.Data != null && Model.AllVideo.Data.Count > 0) ? Model.AllVideo.Data.Count : 0;
    var list = ViewBag.GetTotalByCate;
    var topNews = ViewBag.TopNews.Data;

}
<!-- Breadcrumns -->
<div class="breadcrumns pt-95">
    <div class="container">
        <div class="breadcrumns-1 mt-20 mb-30">
            <div class="row">
                <div class="col-auto br-parent">
                    <div class="">
                        <a href="/">@Localizer["Home"]</a>
                    </div>
                </div>
                <div class="col-auto br-parent">
                    <div class=""><i class="fa-solid fa-chevron-right ic-12"></i></div>
                </div>
                <div class="col-auto br-parent">
                    <div class="color-primary">
                        <a href="/tin-tuc" class="color-primary">@Localizer["News"]</a>
                    </div>
                </div>
                <div class="col-auto br-parent">
                    <div class=""><i class="fa-solid fa-chevron-right ic-12"></i></div>
                </div>
                <div class="col-auto br-parent">
                    <div class="color-primary">

                        @*<a href="/danh-muc-tin/@ViewBag.CateTitle.cateSlug" class="color-primary" id="cate-title">@ViewBag.CateTitle.cateTitle</a>*@
                        <a href="/video" class="color-primary" id="cate-title">@Localizer["Video"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumns -->
<!-- Search Hotel Listing Pages -->
<div class="list-video-news">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-12 ">
                @if (count > 0)
                {

                    <div id="add-data-news" data-cata-title="@Model.AllVideo.Data[0].Category">
                        <div class="row">
                            @foreach (var item in Model.AllVideo.Data)
                            {
                                var num = ConvertData.ConvertNumberClick(item.Click);
                                <div class="bk-item mb-30 col-xxl-6 col-xl-6 col-12">
                                    <a title="@item.Title" href="/video/@item.Id/@item.Slug" class="br-if-title format-router">
                                        <div class="main-video3">
                                            <div class="blog-list-images">
                                                <img data-src="https://cdn.realtech.com.vn/cdn-cgi/image/fit=cover,width=800,height=600,quality=80/@item.PictureTitle" src="@item.PictureTitle" alt="@item.Title">
                                            </div>
                                            <div class="video">
                                                <i class="fa-solid fa-play"></i>
                                            </div>
                                            <div class="breaking-info">
                                                <div class="bk-user35 mt-1">
                                                        <i class="fa-solid fa-user"></i>
                                                        @item.UserName
                                                </div>
                                                <h3>
                                                    @item.Title
                                                </h3>
                                                <div class="date36 align-items-center ">
                                                    <div class="relate-video-date1 text-12 d-flex gap-10 align-items-center mt-1">
                                                            @num |
                                                        <div class="bk-clock">
                                                            <i class="fa-regular fa-clock"></i>
                                                            @item.DateCreate?.ToString("dd/MM/yyyy")
                                                       </div>
                                                    </div>
                                                    <div class="bk-cmt35">
                                                        <i class="fa-solid fa-comment"></i>
                                                        0 @Localizer["Comment"]
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }

                <hr>
                @if (count == 10)
                {
                    <div class="button-loadmore2 mb-60 mt-30">
                        <button class="loadmore" tabindex="0" type="button" onclick="getMoreNews('/News/GetListVideo')">
                            @Localizer["See more"] <i class="fa-solid fa-arrow-right-long"></i>
                        </button>
                        <div hidden id="data-list-news" data-page-index="2" data-category="0"></div>
                    </div>

                }


            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-12 sidebar">
                <div class="widget categories-widget">
                    <div class="widget-title">@Localizer["Category"]<span></span></div>
                    <ul class="custom mt-10">
                        @foreach (var item in list)
                        {
                            <li>
                                <a title="@item.Category" href="/danh-muc-video/@item.Id/@item.Slug">@item.Category<span>@item.Total</span></a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="widget popular-feeds">
                    <div class="widget-title">@Localizer["Lastest news"]<span></span></div>
                    <div class="popular-feed-loop">
                        @if (topNews.Count > 0)
                        {
                            for (int i = 0; i < topNews.Count && i < 3; i++)
                            {
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <div class="feed-image">
                                            <img data-src="https://cdn.realtech.com.vn/cdn-cgi/image/fit=cover,width=800,height=600,quality=80/@topNews[i].PictureTitle" src="@topNews[i].PictureTitle">
                                        </div>
                                        <div class="feed-text">
                                            <h6 class="post-title">
                                                <a href="/tin-tuc/@topNews[i].Id/@topNews[i].Slug" title="@topNews[i].Title">
                                                    @topNews[i].Title
                                                </a>
                                            </h6>
                                            <span class="time"><i class="lni lni-calendar"></i> @topNews[i].DateCreate.ToString("dd'/'MM'/'yyyy") </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="widget popular-tag-widget">
                    <div class="widget-title">@Localizer["Popular"]<span></span></div>
                    <div class="tags mt-10">
                        <a href="javascript:void(0)">@Localizer["Hotels"]</a>
                        <a href="javascript:void(0)">Tour</a>
                        <a href="javascript:void(0)">Tour Package</a>
                        <a href="javascript:void(0)">@Localizer["Flight ticket"]</a>
                        <a href="javascript:void(0)">@Localizer["Shuttle car"]</a>
                        <a href="javascript:void(0)">@Localizer["Travel"]</a>
                        <a href="javascript:void(0)">@Localizer["Domestic"]</a>
                        <a href="javascript:void(0)">@Localizer["Foreign"]</a>
                        <a href="javascript:void(0)">Phú Quốc</a>
                        <a href="javascript:void(0)">Đà Lạt</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Search Hotel Listing Pages -->
<!-- Start Newsletter Area -->
@await Html.PartialAsync("~/Views/Shared/_emailPartial.cshtml")
<!-- End Newsletter Area -->
@section scripts{
    <script>
        function setData(obj) {
            var temp = obj.DateCreate.substring(0, 10);
            var yyyy = temp.substring(0, 4);
            var mm = temp.substring(5, 7);
            var dd = temp.substring(8, 10);
            var date = dd + "/" + mm + "/" + yyyy;
            let titleNews = titleChange(obj.Title);
            let view = `<div class="bk-item mb-30 col-6">
                            <a title="${titleNews}" href="/video/id=${obj.Id}/${titleNews}" class="br-if-title format-router">
                                <div class="main-video3">
                                    <div class="blog-list-images">
                                         <img data-src="https://cdn.realtech.com.vn/cdn-cgi/image/fit=cover,width=800,height=600,quality=80/${obj.PictureTitle}" src="${obj.PictureTitle}" alt="${titleNews}">
                                    </div>
                                    <div class="video">
                                        <i class="fa-solid fa-play"></i>
                                    </div>
                                    <div class="breaking-info">
                                        <h3>
                                            ${obj.Title}
                                        </h3>
                                        <div class="date36">
                                            <div class="bk-clock">
                                                <i class="fa-regular fa-clock"></i>
                                                ${date}
                                            </div>
                                            <div class="bk-user35">
                                                <i class="fa-solid fa-user"></i>
                                                ${obj.UserName}
                                            </div>
                                            <div class="bk-cmt35">
                                                <i class="fa-solid fa-comment"></i>
                                                0 Comment
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>`
            //let view = `<div class="bk-item mb-30 col-6">
            //                            <div class="blog-list-images">
            //                                    <img data-src="https://cdn.realtech.com.vn/cdn-cgi/image/fit=cover,width=800,height=600,quality=80/${obj.PictureTitle}" src="${obj.PictureTitle}" alt="Logo">
            //                            </div>
            //                            <div class="video">
            //                                <i class="fa-solid fa-play"></i>
            //                            </div>
            //                            <div class="breaking-info mt-20">
            //                                <div class="bk-cat3 mb-10">
            //                                    ${obj.Category}
            //                                </div>
            //                                <h5>
            //                                     <a href="/video/id=${obj.Id}/${titleNews}" class="br-if-title format-router">${obj.Title}</a>
            //                                </h5>
            //                                <div class="date36 mt-30">
            //                                    <div class="bk-clock">
            //                                        <i class="fa-regular fa-clock"></i>
            //                                             ${date}
            //                                    </div>
            //                                    <div class="bk-user35">
            //                                        <i class="fa-solid fa-user"></i>
            //                                        ${obj.UserName}
            //                                    </div>
            //                                    <div class="bk-cmt35">
            //                                        <i class="fa-solid fa-comment"></i>
            //                                        0 Comment
            //                                    </div>
            //                                </div>
            //                            </div>
            //                        </div>`;
            $('#add-data-news .row').append(view);
        }
        function setView(arr) {
            for (var i = 0; i < arr.length; i++) {
                setData(arr[i]);
            }
        }
        function getMoreNews(url) {
            var pageIndex = parseInt($('#data-list-news').attr("data-page-index"));
            var pageCategory = parseInt($('#data-list-news').attr("data-category"));
            $.ajax({
                url: url,
                type: "GET",
                data: {
                    idCategory: pageCategory,
                    pageNumber: pageIndex,
                },
                dataType: "text",
                beforeSend: function () {
                    showSearchLoader();
                },
                success: function (result) {
                    debugger;
                    if (result) {
                        //setView(data);
                        results = JSON.parse(result);
                        setView(results);
                        if (results.length < 10) {
                            $('div.button-loadmore2').hide();
                        }
                        $('#data-list-news').attr("data-page-index", pageIndex + 1)
                    }
                    else {
                        console.log("lỗi");
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    hideSearchLoader();
                    alert("An error occured. Please try again!");
                },
                complete: function (data) {
                    hideSearchLoader();
                }
            })

        }
                //function setCate(){
                //    var strPathname = window.location.pathname;
                //    var index = strPathname.lastIndexOf("/");
                //    var cate = strPathname.substring(index + 1, strPathname.length);
                //    var attr = $("#cate-title").attr("href");
                //    $('#cate-title').attr("href", attr + cate);
                //    $('#cate-title').text($("#add-data-news").attr("data-cata-title"));

                //}
                //$(document).ready(function () {
                //    setCate();
                //})
    </script>
}
