@using GoStay.DataDto.OrderDto
@using GoStay.DataDto.Statistical
@using goStayCore.CommonCode
@using Newtonsoft.Json
@model OrderChartDto;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Order Chart</h1>
        <div class="col-md-3 form-group">
            <label for="year">Chọn Năm</label>
            <select class="box-on-stock-option-region headerLeft_select" onchange="SubmitChart()" id="year">
                <option value="2023">2023</option>
                <option value="2022">2022</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label for="month">Chọn Tháng</label>
            <select class="box-on-stock-option-region headerLeft_select" onchange="SubmitChart()" id="month">
                @for(int i =1; i<13; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label for="status">Status</label>
            <select class="box-on-stock-option-region headerLeft_select" onchange="SubmitChart()" id="status">
                <option value="3">Xác nhận đã đặt thành công</option>
                <option value="1">Khởi tạo đơn hàng</option>
                <option value="2">Xác nhận phương thức thanh toán</option>
            </select>
        </div>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>

    <div id="dataSection">
        @await Html.PartialAsync("~/Areas/Admin/Views/AdminOrders/ChartPartial.cshtml", Model)

    </div><!-- .postcontent end -->

@*    <div class="row">
        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Số lượng Order/ngày trong tháng (@System.DateTime.Now.Month/@System.DateTime.Now.Year)</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myOrderChar_GetOrderByMonth" data-key="@string.Join(",", Model.GetOrderByMonth.Select(kv => kv.Day))" data-value="@string.Join(",", Model.GetOrderByMonth.Select(kv => kv.Value))"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Tổng giá trị đơn hàng/ngày trong tháng (@System.DateTime.Now.Month/@System.DateTime.Now.Year)</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myOrderChar_GetOrderTotalMoneyByMonth" data-key="@string.Join(",", Model.GetOrderTotalMoneyByMonth.Select(kv => kv.Day))" data-value="@string.Join(",", Model.GetOrderTotalMoneyByMonth.Select(kv => kv.Value))"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Số lượng phòng được đặt/ngày trong tháng (@System.DateTime.Now.Month/@System.DateTime.Now.Year)</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myOrderChar_GetOrderRoomByMonth" data-key="@string.Join(",", Model.GetOrderRoomByMonth.Select(kv => kv.Day))" data-value="@string.Join(",", Model.GetOrderRoomByMonth.Select(kv => kv.Value))"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>
<script src="~/admintheme/vendor/chart/Chart.js?v=1"></script>
<script src="~/admintheme/js/demo/OrderChart.js?v=3"></script>


<script>     

    function SubmitChart() {
        var year = $('#year').val();
        var month = $('#month').val();
        var status = $('#status').val();


        var Url = '@Url.Action("ChartPartial","AdminOrders", new { area="Admin"})';

        showSearchLoader();


        $.ajax({
            type: "GET",
            url: Url,
            data: {
                year: year,
                month: month,
                status: status
            },
            cache: false,
            async: false,
            beforeSend: function () {

                showSearchLoader();
            },
            success: function (data) {

                hideSearchLoader();

                $('#dataSection').html(data);

            },
            error: function (xhr, ajaxOptions, thrownError) {
                hideSearchLoader();
                alert("An error occured. Please try again!");
            }
        })

    }

</script>