@using GoStay.DataAccess.Entities

@using GoStay.DataDto.TourDto;
@using GoStay.Service
@using GoStay.Common
@using goStayCore.CommonCode
@model DataTourAdminDto
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
@{
    int totalPage = (Model.Tours != null && Model.Total > 0 ) ? ((Model.Total - 1) / Model.PageSize + 1) : 0;
    int pageNumber = Model.PageIndex;
    int pageSize = Model.PageSize;
    int FromIndex = pageNumber == 1 ? 1 : (pageNumber - 1) * pageSize + 1;
    int totalCount = (Model.Total > 0) ? Model.Total : 0;
    int EndIndex = pageNumber == totalPage ? totalCount : pageNumber * pageSize;
}
<style>
    /*ghi đè class*/
    .overwrite-class {
        display: flex;
        gap: 10px !important;
    }

        .overwrite-class label {
            flex: 1;
        }

        .overwrite-class input {
            flex: 1;
            margin-top: -15px;
        }

    .box-on-stock-options {
    }

    .box-on-stock-options {
    }

    .box-on-stock-option-region {
        padding: 0px 15px;
        margin-top: -15px;
        flex: 1;
        border: 2px solid #DDD;
        transition: box-shadow .3s ease-in;
        font-size: 14px;
        background-color: #fff;
    }

    .select2-container--open {
        z-index: 9999999
    }

    .modal-content {
        margin-left: -65px;
        justify-content: center;
        width: 800px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        color: black;
        font-weight: bold;
    }

    .select2-container--default .select2-results__option[aria-selected=true] {
        background-color: rebeccapurple;
        color: white;
    }

    .dropdown-showpage a {
        color: #fff !important;
        background: #1ABC9C;
    }

    .pagination button.active {
        background-color: #1ABC9C;
        color: white !important;
    }
    /* thêm màu nền khi người dùng hover vào class không active */
    .pagination button:hover:not(.active) {
        background-color: #1ABC9C !important;
    }
    /* css pagedList pagination*/
    .pagination li {
        margin-left: 2px;
        margin-right: 2px;
    }

        .pagination li button {
            min-width: 35px;
            min-height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #C3D6C6;
            color: #3f8740;
            border-radius: 5px;
        }

            .pagination li button:hover {
                background-color: #1ABC9C;
                color: #fff;
                transition: ease all .15s;
            }

    .pagination .active button {
        color: #ffffff;
        background-color: #3f8740;
    }

    .pagination .active span {
        color: #fff;
        background: #1ABC9C;
        min-width: 35px;
        min-height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #C3D6C6;
        border-radius: 5px;
    }

    .order-code > a {
        color: #1ABC9C !important;
    }
</style>

<div class="d-flex justify-content-between">
    <div class="d-flex flex-sm-row">
        <p style="margin-top:10px;margin-right:10px">Hiển thị </p>
        <div class="dropdown dropdown-showpage">
            <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                @pageSize
            </a>

            <ul class="dropdown-menu">
                <li><button class="dropdown-item" onclick="NextPreData('25', '1')">25</button></li>
                <li><button class="dropdown-item" onclick="NextPreData('50', '1')">50</button></li>
                <li><button class="dropdown-item" onclick="NextPreData('100', '1')">100</button></li>
            </ul>
        </div>
        <p style="margin-top:10px;margin-left:10px">   bản ghi</p>
    </div>
    <div>
        <button class="button button-3d button-rounded gradient-grey-orange" data-toggle="modal" data-target="#myAddModal"><i class="icon-plus"></i> Add Tour</button>
    </div>
</div>



<div class="table-responsive">

    <table class="table table-bordered table-hover mb-0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th style="width:150px">Ngày đi</th>
                <th>Kiểu tour </th>
                <th>Giá</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Tours == null)
                    return;
                if (Model.Tours.Count() > 0)
                {
                    foreach (var item in Model.Tours)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td style="white-space:inherit !important" class="order-code"><a target="_blank" href="/tours/@item.Id/)">@item.TourName</a></td>
                            <td style="width:250px; white-space:inherit !important">@item.StartDate</td>
                            <th> @item.IdTourStyleNavigation.TourStyle1 </th>
                            <td>@item.Price</td>
                            <td class="order-code d-flex">
                                <div class="hidden" style="display:none">
                                    <div id="divContenthtml-@item.Id">
                                        @Html.Raw(@item.Content)
                                    </div>
                                </div>
                                <a href="#" class="center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-edit" style="font-size:23px;"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right" style="">
                                    <li>

                                        <a class="dropdown-item" href="#!" onclick="EditTourParam('@item.Id','@item.TourName','@item.Style','@item.IdTourStyle','@item.IdTourTopic','@item.StartDate.ToString("dd/MM/yyyy")',
                                                                                            '@item.IdDistrictFrom','@string.Join(",", @item.TourDistrictTos.Select(kv => kv.IdDistrictTo))','@item.Price','@item.Discount',
                                                                                                '@item.TourSize','@item.Locations','@string.Join(",", @item.TourVehicles.Select(kv => kv.IdVehicle))','@item.Rating','@item.Descriptions','@item.IdStartTime')

                                                                                    ;" data-toggle="modal" data-target="#myEditModal"><span class="icon-line-plus"></span> Edit</a>
                                        <a class="dropdown-item" href="#!" onclick="AddPicture('@item.Id');" data-toggle="modal" data-target="#myAddPicture"><span class="icon-line-plus"></span> Add Pictures</a>
                                        <a class="dropdown-item" href="#!" onclick="DeleteTour('@item.Id');" data-toggle="modal" data-target="#myDeleteModal"><span class="icon-line-delete"></span> Delete</a>

                                    </li>
                                </ul>
                                <div class="justify-content-center">

                                    <button class="button button-3d button-rounded gradient-grey-orange  float-right" href="#!" onclick="AddTourDetailTransit('@item.Id');"
                                    data-toggle="modal" data-target="#myAddTourDetail">
                                        <i class="icon-plus"></i> Add TourDetail
                                    </button>
                                </div>
                            </td>


                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

<div class="mt-3">
    @if (Model.Tours != null && Model.Total > 0)
    {
        <div class="row y-gap-30">
            <div class="pagintion-table">
                <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row">
                    <p class="mb-3 mb-sm-0">
                        Hiển thị từ
                        <span>@FromIndex</span>
                        đến
                        <span>@EndIndex</span>
                        của @Model.Total bản ghi
                    </p>
                    <nav class="pagination ">
                        <ul class="pagination mb-0">
                            <li class="page-item "><button class="page-link" onclick="NextPreData(@Model.PageSize.ToString(), '1')"> Fisrt </button></li>

                            @for (int i = 1; i <= totalPage; i++)
                            {
                                string active = "";
                                if (i == pageNumber) active = "active";
                                if (pageNumber <= 3 && i <= 5)
                                {
                                    <li class="page-item "><button onclick="NextPreData(@Model.PageSize.ToString(), @i.ToString())" class="page-link @active"> @i </button></li>

                                }
                                else if (pageNumber > 3 && i >= pageNumber - 2 && i <= pageNumber + 2)
                                {
                                    <li class="page-item "><button onclick="NextPreData(@Model.PageSize.ToString(), @i.ToString())" class="page-link @active"> @i </button></li>

                                }

                            }
                            <li class="page-item "><button class="page-link" onclick="NextPreData(@Model.PageSize.ToString(), @totalPage.ToString())" tabindex="-1"> Last </button></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    }
</div>
