
@using DAL.Helpers.PageHelpers;
@using GoStay.DataDto.HotelDto
@using GoStay.Common
@using goStayCore.CommonCode
@model ViewModel<RoomAdminDto>

@{
    ViewData["Title"] = "Room List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        /*ghi đè class*/
        .overwrite-class{
            display:flex;
            gap: 10px !important;
        }
        
        .overwrite-class label{
            flex:1;
        }
        .overwrite-class input{
            flex:1;
            margin-top: -15px;
        }

        .box-on-stock-options {
        }

        .box-on-stock-options {
        }

        .box-on-stock-option-region {
            padding: 0px 15px;
            margin-top: -15px;
            flex: 1;
            border: 2px solid #DDD;
            transition: box-shadow .3s ease-in;
            font-size: 14px;
            background-color: #fff;
        }

        select {
            font-family: sans-serif !important;
        }

        select {
            font-family: sans-serif !important;
        }

        .modal-content {
            margin-left:-65px;
            justify-content:center;
            width: 800px;
        }
    </style>
</head>

<!-- Page Title
============================================= -->
@await Html.PartialAsync("~/Areas/Admin/Views/Shared/_PageSlider.cshtml", new DAL.Entities.GeneralData { PageTitle = "HotelRoom" })
<!-- #page-title end -->
<!-- Content
============================================= -->


<body>
    <section id="content">

        <div class="content-wrap pb-0">

            <div class="container clearfix">

                <div class="row gutter-40 col-mb-80">

                    <!--error message section starts here-->

                    <div class="special-div-less-margin">
                        @if (TempData["SuccessMsg"] != null)
                        {
                            if (!String.IsNullOrEmpty(TempData["SuccessMsg"].ToString()))
                            {

                                <div class="style-msg successmsg">
                                    <div class="sb-msg"><i class="icon-thumbs-up"></i>@TempData["SuccessMsg"]</div>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                </div>
                            }

                        }
                        @if (TempData["ErrorMsg"] != null)
                        {

                            if (!String.IsNullOrEmpty(TempData["ErrorMsg"].ToString()))
                            {
                                <div class="style-msg errormsg">
                                    <div class="sb-msg"><i class="icon-remove"></i>@TempData["ErrorMsg"]</div>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                </div>
                            }
                        }

                    </div>

                    <!--error message section ends here-->

                    <div class="col-lg-12 " style="padding-bottom: 28px;">
                        <div class="card p-3 bg-light">
                            <div class="car-body">

                                <form method="get" class="row" asp-area="Admin" asp-controller="HotelRoomHome" asp-action="HotelRoomList" id="search_form" enctype="multipart/form-data">

                                    @Html.AntiForgeryToken()

                                    <div class="col-md-3 form-group">
                                        <label for="userid">User ID</label>
                                        <input type="number" id="userid" tabindex="1" name="Id" class="form-control input-sm  valid" value="" aria-invalid="false">

                                    </div>


                                    <div class="col-md-3 form-group">
                                        <label for="hotelname">Tên Hotel</label>
                                        <input type="text" id="hotelname" tabindex="2" name="Name" class="form-control input-sm  valid" value="" aria-invalid="false">

                                    </div>

                                    <div class="col-md-3  form-group">
                                        <label for="roomname"> Tên Phòng</label>
                                        <input type="text" id="roomname" tabindex="3" name="NameSeo" class="form-control input-sm  valid" value="" aria-invalid="false">
                                    </div>

                                    <div class="col-md-3 form-group">
                                        <label for="roomstatus">Trạng Thái Duyệt</label>
                                        <select class="box-on-stock-option-region headerLeft_select" id="roomstatus" >
                                            <option value ="">Tất cả</option>
                                            <option value="0">Đang chờ duyệt</option>
                                            <option value="1">Đã duyệt</option>
                                            <option value="2">Không duyệt</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3 form-group">
                                        <br />
                                        <button type="button" tabindex="3" onclick="SubmitSearch(@Model.PageSize.ToString(), @Model.PageIndex.ToString());" class="button button-3d button-rounded gradient-blue-green"><i class="icon-search"></i> Search</button>

                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="special-div-less-margin">
                        <div>

                        </div>
                    </div>

                    <div class="postcontent col-lg-12" id="MainDataSection">
                        @await Html.PartialAsync("~/Areas/Admin/Views/HotelHome/HotelRoomListPartial.cshtml", Model)
                        
                        <div class="line"></div>
                    </div><!-- .postcontent end -->
                </div>
            </div>
        </div>
    </section><!-- #content end -->
    <!--Save Modal -->

    <div class="modal fade" id="myAddAlbum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add Album</h4>

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>


                    @using (Html.BeginForm("AddAlbumRoom", "HotelHome", FormMethod.Post, new { area = "Admin", @id = "TeacherAdd_form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="modal-body">

                            <input type="hidden" name="Type" value="1" />
                            <input type="hidden" id="Id_Room_Album" name="IdType" />

                            <div class="overwrite-class col-12 form-group">
                                <label for="Name">Name<small class="text-danger">*</small></label>
                                <input value="title" type="text" tabindex="1" id="Name" name="Name" autocomplete="off" class="sm-form-control border-form-control " placeholder="" required />
                            </div>

                        </div>


                        <div class="modal-footer">

                            <button class="button btn-sm button-3d button-rounded gradient-earth" data-dismiss="modal"><i class="icon-lock"></i> Close</button>

                            <button type="submit" tabindex="6" class="button btn-sm button-3d button-rounded gradient-ocean"><i class="icon-save"></i> Save</button>

                        </div>

                    }

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myAddPicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="modal-content" id="MainAddPictureRoom">
                </div>
            </div>
        </div>
    </div>


    <!--Edit Modal -->

    <!--Delete Modal -->
    <div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Delete HotelRoom</h4>

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    @using (Html.BeginForm("DeleteHotelRoom", "HotelHome", FormMethod.Post, new { area = "Admin", @id = "CourseDelete_form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="modal-body">
                            <div class="col-12 form-group">
                                <div class="entry-title">
                                    <h4><a href="demo-news-single.html">Do you want to delete this record?</a></h4>
                                </div>


                            </div>
                            <div>
                                <input type="hidden" id="Id_delete" name="Id" />
                            </div>
                        </div>

                        <div class="modal-footer">

                            <button class="button btn-sm button-3d button-rounded gradient-earth" data-dismiss="modal"><i class="icon-lock"></i> Cancel</button>

                            <button type="submit" tabindex="1" class="button  btn-sm button-3d button-rounded gradient-horizon"><i class="icon-trash2"></i> Delete</button>

                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        function selectedABC(dom) {
            debugger
            //alert(dom.value)
        }
    </script>
</body>


@section scripts{

        <!--Following two scripts are for ajax begin form and other ajax calls-->

        <script>

        function SubmitSearch(_pageSize, _pageIndex) {
            debugger
            var userid = document.getElementById("userid").value;
            var hotelname = document.getElementById("hotelname").value;
            var roomname = document.getElementById("roomname").value;
            var roomstatus = document.getElementById("roomstatus").value;
            var pageSize = _pageSize;
            var pageIndex = _pageIndex;

            var Url = '@Url.Action("HotelRoomListPartial","HotelHome", new { area="Admin"})';

            showSearchLoader();
            var Search = {
                IdUser: userid,
                HotelName: hotelname,
                RoomName: roomname,
                RoomStatus: roomstatus,
                PageSize: pageSize,
                PageIndex: pageIndex
            }

            $.ajax({
                type: "GET",
                url: Url,
                data: {
                    "request": JSON.stringify(Search),
                },
                cache: false,
                async: false,
                beforeSend: function () {

                    showSearchLoader();
                },
                success: function (data) {

                    hideSearchLoader();

                    $('#MainDataSection').html(data);

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    hideSearchLoader();
                    alert("An error occured. Please try again!");
                }
            })

        }
        function ChangeStatus(IdRoom) {
            debugger
            var status = document.getElementById("status_"+IdRoom).value;


            var Url = '@Url.Action("ChangeRoomStatus","HotelHome", new { area="Admin"})';


            $.ajax({
                type: "GET",
                url: Url,
                data: {
                    IdRoom:IdRoom ,
                    RoomStatus: status
                },
                cache: false,
                async: false,
                beforeSend: function () {

                },
                success: function (data) {
                    alert("Success");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("An error occured. Please try again!");
                }
            })

        }

        function AddPicture(Id) {
            $.ajax({
                type: "POST",
                traditional: true,
                data:
                {
                    "IDRoom": JSON.stringify(Id),
                },
                url: "@Url.Action("TransitParamPictureRoom", "HotelHome")",
                beforeSend: function () {
                    showSearchLoader();
                },
                success: function (data) {
                    hideSearchLoader();
                    $('#MainAddPictureRoom').html(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    hideSearchLoader();
                    alert("An error occured. Please try again!");
                }
            })
        }

        function AddAlbum(Id) {
            $('#Id_Room_Album').val(Id);

        }

        function DeleteItem(Id)
        {
            $('#Id_delete').val(Id);

        }
    </script>



}